.chat-preview-item {
    align-items: center;
    height: 55px;
}

.chat-preview-item-text-container {
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.chat-preview-item-author-message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-preview-item-name {
    font-weight: 900;
}

.chat-preview-item-date {
    font-size: small;
    color: gray;
}

.chat-preview-item-author {
    color: cadetblue;
}
