.flex {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.margin-left-8px {
    margin-left: 8px;
}

.margin-top-8px {
    margin-top: 8px;
}

.margin-bottom-8px {
    margin-bottom: 8px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ignore-link-style {
    color: inherit;
    text-decoration: inherit;
}